<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-gallery">
    <div class="widget__head">
      <h3 class="widget__title">Contact me</h3>
    </div>
    <div class="contact-item">
      <ion-icon name="call"></ion-icon>
      (650) 888-9776
    </div>
    <div class="contact-item">
      <ion-icon name="logo-wechat"></ion-icon>
      ArielHomes
    </div>
    <div class="contact-item">
      <ion-icon name="mail"></ion-icon>
      ArielChenHomes@gmail.com
    </div>
    <div class="contact-item">
      <ion-icon name="logo-youtube"></ion-icon>
      <a href="https://www.youtube.com/channel/UCIY0_Jt-Ysoh_P7fKaQVSFQ">Ariel Chen Realty Channel</a>
    </div>
  </div>
</div>